body {
  text-align: center;
  font-family: monospace;
  
  background-color: aquamarine;
  color: darkgreen;
}
  
a {
  color: purple
}
a:visited {
  color:black;
}
 
ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 144;
}