<!DOCTYPE html>
<html>
    <head>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
        <script src="/main.js" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>
        <h1>BERYLLIUM</h1>

        {% include 'friend_search.html' %}
        <br><a href="/logout/">Logout</a>
        <br><a href="/settings/">Settings</a>

        <div id="current_user_content"></div>

        {% include 'form.html' %}


        <div id="other_user_content">
        </div>

    </body>
</html>