<div type="post" id="{{ poster.username }}_{{ post_number }}">
    <p><a href="/user/?username={{ poster.username }}">{{ poster.username }}</a> (<span class="epoch-timestamp">{{ post["timestamp"] }}</span>):</p>
    
    <img src="data:image/png;base64,{{ post['images'][0] }}" alt="Face Image of {{ poster.username }}" style="width:50%"><img src="data:image/png;base64,{{ post['images'][1] }}" alt="Away Image of {{ current_user.username }}" style="width:50%">
    
    {% if poster == current_user %}
        <button id="{{ poster.username }}_{{ post_number }}_delete">delete post</button>
    {% endif %}

    <ul id="{{ poster.username }}_{{ post_number }}_comments">
        {% for commenter, comment_timestamp, comment_text in post['comments'] %}
            {% with comment_index=loop.index0 %}
                {% if comment_text != '' %}
                    {% include 'comment.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </ul>





    <form id="{{ poster.username }}_{{ post_number }}_comment_form" method="POST">
        <input type="text" id="{{ poster.username }}_{{ post_number }}_comment_text" name="comment_text" required>
        <button type="submit">Post Comment</button>
    </form>
        <p>I agree that the owners/admins of this Beryllium instance can retain my comment until this post is deleted and that any user who can view this post can also view my comment.</p>
    <br/>
</div>