<!DOCTYPE html>
<html>
    <head>
        <title>Settings - beryllium</title>
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>
        {% include 'header.html' %}
        <h2>Settings</h2>

        <hr>

        {% include 'friend_search.html' %}

        <div style="display:flex">
            <div style="width:50%">
                <h3>Users whose posts you view</h3>
                <ul>
                    {% for other_user in current_user.views %}
                        <li><a href="/user/?username={{ other_user.username }}">{{ other_user.username }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div style="width:50%">
                <h3>Users to whom you show your posts</h3>
                <ul>
                    {% for other_user in current_user.shows %}
                        <li><a href="/user/?username={{ other_user.username }}">{{ other_user.username }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <hr/>

        <form action="/change-password" method="POST">
            <label for="old-password">Old Password:</label>
            <input type="password" id="old-password" name="old-password" required>
            
            <label for="new-password">New Password:</label>
            <input type="password" id="new-password" name="new-password" required>
            
            <button type="submit">Change Password</button>
        </form>
        
        <form action="/delete-account" method="POST" onsubmit="return confirmDeletion()">
            <button type="submit">Delete Account</button>
          </form>
          
          <script>
            function confirmDeletion() {
              return confirm('Are you sure you want to delete your account? This action cannot be undone.');
            }
          </script>
          
    </body>
</html>